.logo{
    height: 150px;
    width: 150px;
}

#navBar{    
    background-color: black;   
}

#cartIcon {
    height: 32px;
    width: 32px;
}

#number{
    padding-left: 8px;
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;

}

#cartWidget{
    text-decoration: none;
}
