.logo{
    height: 150px;
    width: 150px;
}

#navBar{    
    background-color: black;   
}

#cartIcon {
    height: 32px;
    width: 32px;
}

#number{
    padding-left: 8px;
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background-color: red;
}
/* 



.listNavBar{
    display: flex;
}

.listNavBar ul{
    width: 100%;
}
.listNavBar li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 50px;
}


} */